@charset "utf-8";

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

html{
    display: table;
}
body{
    font-family: "Verdana";
    margin-top: 50px;
    width: 1400px;
    background-color: whitesmoke;
    margin: 0 auto;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}

img{
    vertical-align: bottom;
}

ul{
    margin: 0;
    padding: 0;
}

.logo{
    width: 350px;
    height: 60px;
    margin-top: 60px;
    float: left;
}

#tel{
    float: right;
    width: 350px;
    height: 110px;
    margin-top: 20px;
}
#tel p{
    font-size: 10px;
}

#tel .num{
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
}
#tel .num span{
    margin-right: 10px;
}

#tel .time{
    font-size: 10px;
    border: 1px solid #1111;
    width: 250px;
    height: 30px;
    padding-top: 10px;
}

#tel .time span{
    color: #c48f87;
}

.gnav{
    margin-top: 40px;
    float: left;;
}
.gnav li{
    float: left;
    margin: 0;
    width: 230px;
    height: 75px;
    background-color: #8cd9d7;
    text-align: center;
    padding-top: 30px;
    list-style: none;
    border: 1px solid #99e1df;
    box-shadow: 0px 1px 4px -2px;
    border-radius: 3px;
}

.gnav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
}

.gnav li:hover{
    background-color: #78bdbe;
}

.panList{
    clear: both;
    padding-top: 20px;
    padding-bottom: 10px;
}

.side-nav1{
    width: 300px;
    height: 300px;
    font-size: 20px;
    border: 1.5px solid #8cd9d7;
    text-align: left;
    background-color: white;
     border-radius: 5%;
}

.in{
    padding-left: 15px;
    padding-right: 15px;
}
.side-nav1 li{
    list-style: none;
    border-bottom: 1.5px solid #8cd9d7;
    margin-top: 20px;
}

.side-nav1 li a{
    text-decoration: none;
    color: #111111;
    font-weight: 600;
}

.side-nav1 p{
    border-radius: 5%;
    background-color: #8cd9d7;
    color: aliceblue;
    height: 40px;
    padding-left: 20px;
    padding-top: 20px
}

.side-nav1 li a span{
    font-size: 18px;
    color: #8cd9d7;
    
}

.side-nav2{
    width: 300px;
    height: 300px;
    font-size: 20px;
    border: 1.5px solid #8cd9d7;
    text-align: left;
    margin-top: 50px;
    background-color: white;
    border-radius: 5%;
}

.side-nav2 li{
    list-style: none;
    border-bottom: 1.5px solid #8cd9d7;
    margin-top: 20px;
}

.side-nav2 li a{
    text-decoration: none;
    color: #111111;
    font-weight: 600;
}

.side-nav2 p{
     border-radius: 5%;
    background-color: #8cd9d7;
    color: aliceblue;
    height: 40px;
    padding-left: 20px;
    padding-top: 20px
}

.side-nav2 li a span{
    font-size: 18px;
    color: #8cd9d7;
    
}

.slide{
    clear: both;
    float: left;
}

footer{
    clear: both;
    float: left;
}

.footer-nav{
    margin-top: 10px;
    width: 1250px;
    height: 50px;
    background: #8cd9d7;
}
.footer-nav li{
    float: left;
    font-size: 20px;
    list-style: circle;
    margin-left: 50px;
    color: #ffffff;
    padding-top: 8px;
}

.footer-nav li a{
    text-decoration: none;
    color: #ffffff;
}

.footer-nav li a:hover{
    text-decoration: underline;
}

footer .access{
    font-size: 18px;
    float: right;
    margin-top: 20px;
}

footer hr{
    clear: both;
    border-color: #8cd9d7;
}
.foot{
    clear: both;
    text-align: center;
}

.panList{
    height: 30px
    
}

.content{
    clear: both;
}

.content .in01{
    width: 917px;
    height: 480px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.content .info{
    width: 877px;
    margin-left: 333px;
    background-color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.content .info table{
    border-top: 2px solid #8cd9d7;
}
.content .info #day{
    width: 180px;
    text-align: center;
    height: auto;
    font-weight: 600;
}

.content .info td{
    border-bottom: 1px dotted #111;
    border-collapse: collapse;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content .info p{
    font-size: 20px;
    font-weight: 600;
}

.content .h1{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 2px solid #8cd9d7;
}

.content .sentence{
    width: 877px;
    margin-left: 333px;
    background-color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.content .theme{
    width: 877px;
    margin-left: 333px;
    background-color: #8cd9d7;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
     border-radius: 5%;
}

.content .theme p{
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-top: 15px
}

.content .sentence .color{
    font-size: 20px;
    padding-top: 50px;
    color: #8cd9d7;
    font-weight: 600
}

.content .sentence p{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.content .sentence .h3{
    font-size: 15px;
    font-weight: 600;
}

.content .sentence th{
    width: 240px;
    height: 55px;
    text-align: center;
    border: 1px solid #111111;
     background-color: lightgray;
}

.content .sentence td{
    width: 240px;
    height: 55px;
    text-align: center;
    border: 1px solid #111111;
}
.content .sentence table{
    border-spacing: 0;
}

.content .image{
    width: 250px;
    height: 350px;
    float: left;
}
.content .image .st01{
    width: 250px;
    height: 250px;
}

.content .image .green{
    font-size: 18px;
    font-weight: 300;
    height: 20px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8cd9d7;
    color: white;
    text-align: center;   
}

.content .biography{
    width: 620px;
    height: 350px;
    float: right;
}

.content .biography p{
    margin: 0;
    margin-top: -10px;
}

.content .biography .color{
    margin-top: -30px;
}

.content .sentence .st02{
    width: 877px;
    height: 650px;
}

.content .sentence .nameList{
    margin-top: 25px;
}

.content .sentence .nameList p{
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.content .sententce .address{
    display: inline-block;
    
}

.content .sentence .address img{
    float: left;
    width: 250px;
    height: 230px;
}
.content .sentence .address p{
    margin-left: 250px;
    margin-top: -10px;
    
}

.content .sentence .address hr{
    height: 4px;
    border: none;
    background-color: #8cd9d7;
}

@media screen and (max-width:600px){
    body{
        font-size: 3.5vw;
    }
    
    header{
        width: auto;
        margin: 0 5%;
    }
    
    .logo{
        float: none;
        
    }
    
    #tell{
        display: block;
        float: none;
        float: left;
        text-align: center;
        
    }
    
    .gnav{
        float: none;
        text-align: center;
    }
    
    .gnav li{;
        width: 
        
    }
    
    .slide{
        float: none;
    }
}